body {
  color: black;;
}

#flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: bolder;
}
.overallCards {
  display: flex;
  flex-flow: wrap;
  flex-basis: auto;
  flex-direction: column;
  list-style: none;
  margin: 2px;
  justify-content: center;
}
.dataCard {
  display: flex;
  flex-basis: auto;
  flex-flow: wrap;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  justify-content: center;
}
.block {
  display: none;
}
